.card {
    display: flex;
    flex-direction: row;
    border: none;
    overflow: hidden;
    padding: .5rem;
    width: 60%;
    border-radius: 30px;
    &-img-top {
        border-radius: 30px;
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
    &-body {
        background-color: #fff;
    }
    &-title {
        color: var(--color-brown);
    }
}