.footer {
    flex-direction: column;
    background-color: var(--color-brown);
    height: 300px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    &__logo {
        font-size: 40px;
        font-family: horizon;
        &:hover {
            color: white;
        }
    } 
    &__social{
        display:flex;
        min-width: 300px ;
        justify-content: space-between;
    } 
    
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        height: 200px;
    }
    
} 
.icon {
    padding: 0;
    margin: 0;
}
