.hero {
    background-image: url(../img/mic.svg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    &__contain {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-family: horizon;
        font-size: 3rem;
        color: var(--color-white);
        font-weight: var(--font-bold);
        margin-bottom: 20px;
    }
    @media (max-width:768px) {
        .hero {
            &__title {
                font-size: 2rem;
            }
        }
        
    }
    
}

.banner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-brown);
    height: 150px;
    padding: 20px;
}

.banner h6 {
    font-weight: 150px;
}

#section-banner {
    font-weight: bolder;
}


