@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap');


:root {
    --color-primario: #f4eee8;
    --color-white: #fff;
    --color-brown: #6d5b47;
    --font-bold: 800;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    font-family: "Poppins", sans-serif;
}
body {
    background-color: var(--color-primario);
}